html, body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.center{
    max-width: 1100px;
    display: flex;
    margin:auto;
    align-items: center;
}

header{
    background-color:white;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(10, 10, 10);
    margin-top:8px;
    margin-bottom:0.3px;
}

.menu a{
    text-decoration: none;
    color: rgba(37, 37, 37, 0.714);
    font-size: 18px;
    margin-right:20px;
    border-bottom: 2px solid rgba(37, 37, 37, 0.114);
    display:inline-block;
}


.menu a:hover, .menu .active{
    transition: 0.7s;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0); 
    transform:translate(2px);
}

.menu a:active{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0);
}

.menu .btn-menu{
    background-color: rgba(0, 0, 0, 0.898);
    color:rgb(235, 235, 235);
    padding: 10px 20px;
    border-radius: 9px;
}

.menu{
    margin-left:auto;
}

.menu .btn-menu:hover{
    background-color: rgb(0, 0, 0);
    color:white;
    transform: scale(1.04);
}

.logo img{
    height: auto;
    min-width: none;
    max-width: 100%;
}


.card{
    margin-left: 10%;
    margin-top: 4%;
    justify-content: center;
    display: inline-block;
    margin-bottom: auto;
}

fieldset{
    border: 0;
    padding: 0;
}

input{
    border-radius: 5px;
}

label{
    display: block;
}

textarea{
    width:32em;
    height: 10em;
    max-width: 90%;
}

.btn{
    background-color: rgba(0, 0, 0, 0.898);
    color:rgb(235, 235, 235);
    padding: 10px 20px;
    border-radius: 9px;
    cursor: pointer;
    display: block;
    
}
