body{
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100px;
    display: flex;
    margin:auto;
    align-items: center;
}

header{
    background-color:white;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(10, 10, 10);
}

.menu a{
    text-decoration: none;  
    color: rgba(37, 37, 37, 0.714);
    font-size: 18px;
    margin-right:20px;
    border-bottom: 2px solid rgba(37, 37, 37, 0.114); 
    display:inline-block;
}

.menu a:hover{
    transition: 0.7s;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0); 
    transform:translate(2px);

}
.menu a:active{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0); 
}

.menu .btn-menu{
    background-color: rgba(0, 0, 0, 0.898);
    color:rgb(235, 235, 235);
    padding: 10px 20px;
    border-radius: 9px;
}
.menu{
    margin-left:auto;
}
.menu .btn-menu:hover{
    background-color: rgb(0, 0, 0);
    color:white;
    transform: scale(1.04);

}

.logo img{
    height: auto;
    min-width: none;
    max-width: 100%;
}

main {
    display: inline-block;
    padding: 15px;
    width: 76%;
    margin-bottom: 33px;
}

aside {
    background-color: black;
    color:white;
    right: 0%;
    position: absolute;
    display:inline-block;
    text-align: center;
    width: 8%;
    padding: 8px;
    min-width: min-content;
    max-width:90px;
    min-height:300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;    
}

aside .icon{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 9px;

}

footer{
text-align: center;
background-color: black;
color:white;
position: fixed;
bottom:0px;
left:0px;
display:inline-block;
width: 100%;
}

footer a{
    text-decoration: none;  
    color: rgba(255, 255, 255, 0.714);
    font-size: 18px;
    margin-right:20px;
    border-bottom: 2px solid rgba(37, 37, 37, 0.114); 
    display:inline-block;
}

footer a:hover{
    transition: 1s;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    border-bottom: 2px solid rgba(0, 0, 0); 
    transform: scale(1.04);

}